BASE_URL=http://localhost:3100
API_URL=http://localhost:7999

# Enable or disable authentication if disabled it will mock the user and session
AUTH_ENABLE=false
# This is the client ID of this app
AUTH_CLIENT_ID=
# This is the client secret of this app
AUTH_CLIENT_SECRET=
# This is the URL of the auth server
AUTH_ISSUER_URL=https://auth.dev.clinia.com
# This is the secret used to sign the session cookie
AUTH_SECRET=
# This is the URL to redirect to after logout
AUTH_POST_LOGOUT_REDIRECT_URI=https://auth.dev.clinia.com/logout



# Instrumentation
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:55679
OTEL_EXPORTER_OTLP_INSECURE=true
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
NEXT_OTEL_VERBOSE=0

# Inference
INFERENCE_URL=http://127.0.0.1:8001
INFERENCE_MODEL_NAME=summarizer_medical_journals_qa
INFERENCE_MODEL_VERSION=120240905190000

# Atlas credentials
ATLAS_ROOT_USER=root
ATLAS_ROOT_PASSWORD=changeme